<!DOCTYPE html>
	<html>
		<head>
			<title>Page Title</title>
			<style type="text/css">

			.expTitle {
				height:30px;
				width:206px;
				background-color:#ff6666;
				text-align:center;
				margin: 0 auto

			}
			.noExp {
				line-height:50px;
				width:206px;
				text-align:center;
				margin: 0 auto
			}
			.weekDates {
				height:30px;
				width:206px;
				background-color:#ff6666;
				text-align:center;
				margin: 0 auto
			}
				#actionButtons {
					text-align:center;
				}
		</style>
			</head>
		<body ng-app="asd">
		<header></header>

			<div ng-controller="getSearchResults">
				<expense-header></expense-header>
				<div ng-repeat="grp in productsToDisplay">
					<div class="weekDates">{{grp.startDate}} - {{grp.endDate}}</div>
					<div class="expTitle">Expenses Made for this {{timeUnit}}</div>
					<div class="noExp"  ng-if="grp.products.length == 0">No expenses for this {{timeUnit}}</div>
					<div ng-repeat="product in grp.products">

						<product></product>
					</div>
				</div>

				<div id="actionButtons">
					<button id="back" type="button" onclick="back(this)">Back</button>
					<button id="showPrevious" ng-click='showPreviousExpenses()'>Show Previous {{timeUnit}}</button>
				</div>
			</div>

			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://momentjs.com/downloads/moment.js"></script>
			<script src="/expenseFilter.js"></script>
			<script src="/dateGenerator.js"></script>
		<script>

				var app = angular.module('asd', []);
				app.controller("getSearchResults", ['$scope', '$http', function($scope, $http) {
					var data = [];
					var counter = 0;
					$scope.productsToDisplay = [];
					$scope.timeUnit = "month";
					var getSearchResults = function() {
						var url = window.location.href;
						var urlParts = url.split("?");
						var requestParameters = "";
						for(var i = 1;i < urlParts.length;i++) {
							requestParameters = requestParameters + "?" + urlParts[i]
						}
						$http({
							method:'get',
							url:'/getSearchResults' + requestParameters
						}).then(function successCallback(response){
							data = response.data;
							data.forEach(function(product){
								product.date = moment(product.date).format("YYYY-MM-DD HH:MM");
							});
							showInitialExpenses()
						}, function errorCallback(response){
						});
					};
					getSearchResults();

					var showInitialExpenses = function() {
						console.log("initial counter:", counter);
						initalProducts = showInitial(data, $scope.timeUnit);
						initialStartDate = getStartAndEndDate(counter, $scope.timeUnit)[0];
						initialEndDate = getStartAndEndDate(counter, $scope.timeUnit)[1];

						$scope.productsToDisplay.push({
							products:initalProducts,
							startDate:initialStartDate,
							endDate:initialEndDate
						});
					}

					$scope.showPreviousExpenses = function() {
						counter++;
						var previousExpenses = showPrevious(data, $scope.timeUnit, counter);
						$scope.productsToDisplay.push({
							products : previousExpenses,
							startDate : getStartAndEndDate(counter, $scope.timeUnit)[0],
							endDate : getStartAndEndDate(counter, $scope.timeUnit)[1]
						});
					}

					$scope.changeLimitTimeUnit = function(id) {
						$scope.id = id;
						$scope.timeUnit = id;
						counter = 0;
						$scope.productsToDisplay = [];
						showInitialExpenses();
					}

				}]);
				app.directive('product', [function(){
					return {
						restrict: "E",
						templateUrl: '/views/product.html',
					};
				}]);
			</script>
			<script>
			 	var back = function() {
			 		window.location = '/search';
			 	}

			</script>
		<script src="./directives/header.js"></script>
		<script src="./directives/expenseHeader.js"></script>

		</body>
	</html>