<div id="changePassword" ng-if="accountPageId == 'changePassword'">
    <style type="text/css">
        #changePassword {
            text-align:center
        }
    </style>
    <h4>Update Your Account:</h4>
    Current Password:
    <br/>
    <input id="currentPassword" type="text">
    <br/>
    New Password:
    <br/>
    <input id="newPassword" type="text">
    <br/>
    Confirm New Password:
    <br>
    <input id="confirmNewPassword" type="text">
    <br/>
    <button id="submitNewPassword" ng-click="submitNewPassword()">Submit</button>
</div>