<div id="updateOptions" ng-if="accountPageId == 'update'">
    <style type="text/css">
        #updateOptions {
            text-align:center
        }
    </style>
    <h4>Update Your Account:</h4>
    <div ng-show="validationStatus == 'incorrectEmail'">Your Email Address is incorrect</div>
    <div ng-show="validationStatus == 'noUserName'">Please Add a Username</div>
    <div ng-show="validationStatus == 'noEmail'">Please Add an Email Address</div>
    Email:
    <br/>
    <input id="email" type="text" value={{userData.email}}>
    <br/>
    User Name:
    <br/>
    <input id="userName" type="text" value={{userData.userName}}>
    <br/>
    <button id="submitNewInfo" ng-click="submitNewInfo()">Submit</button>
</div>